<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cmkj.budget.mapper.BudgetItemMapper">

    <resultMap type="BudgetItem" id="BudgetItemResult">
            <result property="id"    column="id"    />
            <result property="tableName"    column="table_name"    />
            <result property="tableDisplayName"    column="table_display_name"    />
            <result property="type"    column="type"    />
            <result property="deptId"    column="dept_id"    />
            <result property="userId"    column="user_id"    />
            <result property="subjectId"    column="subject_id"    />
            <result property="reportingType"    column="reporting_type"    />
            <result property="createBy"    column="create_by"    />
            <result property="createTime"    column="create_time"    />
            <result property="updateBy"    column="update_by"    />
            <result property="updateTime"    column="update_time"    />
            <result property="orderNum"    column="order_num"    />
            <result property="remark"    column="remark"    />
            <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBudgetItemVo">
        SELECT t.id,t.table_name,t.type,t.table_display_name,t.dept_id,t.user_id,t.subject_id,t.reporting_type,t.create_by,t.create_time,t.update_by,t.update_time,t.order_num,t.remark,t.del_flag,d.dept_name as deptName,u.nick_name as userName,s.`name` as subjectName,s.`type` as subjectType,s.growth_rate as growthRate,dd.dict_label as itemType
        FROM t_budget_item t
        LEFT JOIN sys_dept d on t.dept_id = d.dept_id
        LEFT JOIN sys_user u on t.user_id = u.user_id
        LEFT JOIN t_budget_subject s on t.subject_id = s.id
        LEFT JOIN sys_dict_data dd on s.budget_type = dd.dict_value AND dd.dict_type = 'item_type'
    </sql>

    <select id="selectBudgetItemList" parameterType="BudgetItem" resultMap="BudgetItemResult">
        <include refid="selectBudgetItemVo"/>
        WHERE table_name IS NOT NULL AND table_name != ''
        <if test="tableName != null  and tableName != ''"> and t.table_name like concat('%', #{tableName}, '%')</if>
        <if test="tableDisplayName != null  and tableDisplayName != ''"> and t.table_display_name like concat('%', #{tableDisplayName}, '%')</if>
        <if test="type != null "> and t.type = #{type}</if>
        <if test="deptId != null "> and t.dept_id = #{deptId}</if>
        <if test="userId != null "> and t.user_id = #{userId}</if>
        <if test="subjectId != null "> and t.subject_id = #{subjectId}</if>
        <if test="reportingType != null "> and t.reporting_type = #{reportingType}</if>
        <if test="delFlag != null "> and t.del_flag = #{delFlag}</if>
        <if test="specialType != null and specialType != ''"> and s.special_type = #{specialType}</if>
        <if test="queryType != null and queryType == 1"> and t.reporting_type != 3</if>
        <if test="ids != null and ids.length > 0">
            and t.id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by t.order_num
    </select>

    <select id="selectBudgetItemById" parameterType="Long" resultMap="BudgetItemResult">
        <include refid="selectBudgetItemVo"/>
        where t.id = #{id}
    </select>

    <select id="selectBudgetItemByName" resultMap="BudgetItemResult">
        <include refid="selectBudgetItemVo"/>
        where t.table_display_name = #{itemName}
    </select>

    <select id="selectBudgetItemByFinancialName" resultMap="BudgetItemResult">
        <include refid="selectBudgetItemVo"/>
        where fs.dict_label = #{kjkmsm}
    </select>

    <insert id="insertBudgetItem" parameterType="BudgetItem" useGeneratedKeys="true" keyProperty="id">
        insert into t_budget_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null">table_name,</if>
            <if test="tableDisplayName != null">table_display_name,</if>
            <if test="type != null">type,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="subjectId != null">subject_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="orderNum != null">order_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null">#{tableName},</if>
            <if test="tableDisplayName != null">#{tableDisplayName},</if>
            <if test="type != null">#{type},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="subjectId != null">#{subjectId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="orderNum != null">#{orderNum},</if>
        </trim>
    </insert>

    <update id="updateBudgetItem" parameterType="BudgetItem">
        update t_budget_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="tableDisplayName != null">table_display_name = #{tableDisplayName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="subjectId != null">subject_id = #{subjectId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBudgetItemById" parameterType="Long">
        update t_budget_item set del_flag = '2'  where id = #{id}
    </delete>

    <delete id="deleteBudgetItemByIds" parameterType="String">
        update t_budget_item set del_flag = '2'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>