<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cmkj.budget.mapper.BudgetItemDeptMapper">

    <resultMap type="BudgetItemDept" id="BudgetItemDeptResult">
        <result property="itemId"    column="item_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectBudgetItemDeptVo">
        select item_id, dept_id from t_budget_item_dept
    </sql>

    <select id="selectBudgetItemDeptListByItemId" parameterType="BudgetItemDept" resultMap="BudgetItemDeptResult">
        <include refid="selectBudgetItemDeptVo"/>
        where item_id = #{itemId}
    </select>

    <select id="selectDeptListByItemId" resultType="net.cmkj.common.core.domain.entity.SysDept">
        SELECT d.dept_id, d.dept_name, d.parent_id, pd.dept_name as parentName
        FROM  `t_budget_item_dept` t
        LEFT JOIN sys_dept d on t.dept_id = d.dept_id
        LEFT JOIN sys_dept pd on d.parent_id = pd.dept_id
        WHERE t.item_id = #{itemId} and d.del_flag = '0' and d.`status` = '0'
        ORDER BY d.parent_id,d.order_num
    </select>

    <select id="selectDeptIdsByItem">
        select dept_id from t_budget_item_dept where item_id = #{id}
    </select>
    <select id="selectItemByDepts">
        SELECT DISTINCT item_id  FROM t_budget_item_dept  WHERE dept_id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectBudgetItemDeptListByDeptId" resultType="net.cmkj.budget.domain.BudgetItem">
        SELECT  i.*
        FROM  `t_budget_item_dept` t
        LEFT JOIN t_budget_item i on t.item_id = i.id
        WHERE t.dept_id = #{deptId} and i.del_flag = 0
    </select>

    <insert id="insertBudgetItemDept" parameterType="BudgetItemDept">
        insert into t_budget_item_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <insert id="batchItemDept">
        insert into t_budget_item_dept(item_id, dept_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.itemId},#{item.deptId})
        </foreach>
    </insert>

    <delete id="deleteBudgetItemDeptByItemId" parameterType="Long">
        delete  from t_budget_item_dept  where item_id = #{itemId}
    </delete>
</mapper>