* {
  padding: 0;
  margin: 0;
  list-style: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
  }
  50% {
    transform: translateY(-5px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.big {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999;
  height: 100vh;
}
.little {
  height: calc(100vh - 80px);
}
.ls {
  width: 100%;
  // padding: 10px 0;

  &- {
    &view {
      width: 100%;
      height: 100%;
      background-image: url("@/assets/images/lsImg/back.jpg");
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // padding: 10px 0;
      &_ {
        &header {
          width: 100%;
          height: 50px;
          background-image: url("@/assets/images/lsImg/top.png");
          background-size: 100% 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          & > div {
            height: 100%;
            width: 30%;
            color: #fff;
            display: flex;
            align-items: center;
            .headTime {
              font-size: 14px;
            }
            .headText {
              font-size: 18px;
              text-shadow: 0px 0px 10px rgba(7, 213, 192, 1);
            }
          }
          & > div:nth-child(1) {
            justify-content: flex-start;
          }
          & > div:nth-child(2) {
            justify-content: center;
          }
          & > div:nth-child(3) {
            justify-content: flex-end;
            gap: 10px;
          }
        }
        &content {
          padding: 0px 10px 10px 10px;
          width: 100%;
          flex: 1;
          display: flex;
          justify-content: space-between;
          // background: pink;
          gap: 10px;
          .left {
            flex: 1.2;
            display: flex;
            flex-direction: column;
            // background: pink;
          }
          .right {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .top {
              flex: 8;
              display: flex;
              gap: 10px;
              & > div:nth-child(1) {
                flex: 10;
                display: flex;
                flex-direction: column;
                gap: 10px;
                & > div {
                  width: 100%;
                  flex: 1;
                  position: relative;
                  display: flex;
                  align-items: center;
                  .main {
                    width: 100%;
                    height: 70%;
                    z-index: 100;
                    display: flex;
                    justify-content: space-around;
                    gap: 10px;
                    & > div {
                      width: 14%;
                      height: 100%;
                      background-image: url("@/assets/images/lsImg/zzGreen.png");
                      background-size: 100% 80%;
                      background-position: bottom;
                      background-repeat: no-repeat;
                      position: relative;
                      p {
                        text-align: center;
                      }
                      // p:nth-child(1) {
                      //   // font-size: 20px;
                      //   // color: #23fffc;
                      //   // text-align: center;
                      //   // margin-top: 3px;
                      //   // font-weight: bold;
                      //   // width: 100%;
                      //   // height: 0px;
                      //   // background: red;
                      //   // position: relative;
                      // }
                      p:nth-child(2) {
                        font-size: 14px;
                        color: #fff;
                        text-align: center;
                        margin-top: 3px;
                      }
                      p:nth-child(3) {
                        font-size: 12px;
                        color: #eee;
                        text-align: center;
                        margin-top: 3px;
                      }
                      .cost {
                        display: block;
                        width: 40%;
                        height: 25%;
                        position: absolute;
                        left: 30%;
                        bottom: 20%;
                        background-image: url("@/assets/images/lsImg/iconGreen.svg");
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                      }
                    }
                    & > div:hover {
                      width: 14%;
                      height: 100%;
                      background-image: url("@/assets/images/lsImg/zzYellow.png");
                      background-size: 100% 80%;
                      background-position: bottom;
                      background-repeat: no-repeat;
                      position: relative;
                      p {
                        text-align: center;
                      }
                      // p:nth-child(1) {
                      //   // font-size: 20px;
                      //   // color: #ffda30;
                      //   // text-align: center;
                      //   // margin-top: 3px;
                      //   // font-weight: bold;
                      // }
                      p:nth-child(2) {
                        font-size: 14px;
                        color: #fff;
                        text-align: center;
                        margin-top: 3px;
                      }
                      p:nth-child(3) {
                        font-size: 12px;
                        color: #eee;
                        text-align: center;
                        margin-top: 3px;
                      }
                      .cost {
                        display: block;
                        width: 40%;
                        height: 25%;
                        position: absolute;
                        left: 30%;
                        bottom: 20%;
                        background-image: url("@/assets/images/lsImg/iconYellow.svg");
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        animation: bounce 1s infinite;
                      }
                      img {
                        width: 40%;
                        position: absolute;
                        left: 30%;
                        bottom: 20%;
                      }
                    }
                  }
                  .back {
                    position: absolute;
                    bottom: 20px;
                    box-shadow: 0 20px 40px -20px #0a505e;
                    width: 100%;
                    img {
                      width: 100%;
                    }
                  }
                }
              }
              & > div:nth-child(2) {
                flex: 6.7;
                // background: #eee;
              }
            }
            .bottom {
              flex: 5;
              // background: #eee;
            }
          }
          .side {
            gap: 10px;
            .top {
              flex: 5;
            }
            .bottom {
              flex: 4;
            }
          }
        }
      }
    }
    //子页面样式
    &subPage {
      //子页面样式
      // gap: 5%;
      padding: 20px;

      & > .boxLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        & > div {
          flex: 1;
          height: 100%;
          // background: rgba(255, 255, 255, 0.2);
        }
      }
      &_ {
        // width: 100%;
        &title {
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
        }
        &infos {
          flex: 1;
          // background: pink;
          & > div {
            background-image: url("@/assets/images/lsImg/blueBack.svg");
            background-size: 100% 100%;
            // background: pink;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: space-around;
            & > p:nth-child(1) {
              color: #fff;
              font-size: 16px;
            }
            & > p:nth-child(2) {
              color: #fffc19;
              font-size: 26px;
              font-weight: bold;
            }
          }
        }
        &chart {
          flex: 2;
          // display: flex;
          // flex-direction: column;
          .text {
            width: 100%;
            // height: 50px;
            // background: pink;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .chart {
            width: 100%;
            height: calc(100% - 10%);
            // background: rgba(0, 0, 0, 0.2);
          }
        }
        &table {
          flex: 2.5;

          .list {
            max-width: 100%;
            max-height: 36vh;
            overflow-x: scroll;
            .zhao{
              width: 2500px;
              height: 100%;
            }
          }
        }
      }
    }
    &box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &_ {
        &title {
          width: 100%;
          height: 36px;
          background-image: url("@/assets/images/lsImg/titleBack.svg");
          background-size: 100% 100%;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 10px;
          & > span {
            display: block;
          }
          .iconLeft {
            width: 18px;
            height: 18px;
            background-image: url("@/assets/images/lsImg/titleIcon.png");
            background-size: 100% 100%;
            margin-right: 6px;
          }
          .title {
            color: #fff;
            font-size: 15px;
          }
          .iconRight {
            width: 36px;
            height: 12px;
            background-image: url("@/assets/images/lsImg/titleDot.svg");
            background-size: 100% 100%;
            margin-left: 10px;
            position: absolute;
            right: 30px;
          }
        }
        &content {
          width: 100%;
          flex: 1;
          background: rgba(0, 0, 0, 0.2);
          padding: 10px;
        }
      }
    }
    //整体概况
    &survey {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5px;
        & .float {
          width: 100%;
          text-align: center;
          // position: absolute;
          // top: 10%;
          padding: 10px 0;
          font-size: 12px;
        }
        & p {
          width: 100%;
          height: 20px;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          // background: red;
        }
        & .titBot {
          padding-left: 10px;
        }
        & > .pie {
          height: 100%;
          display: flex;
          // border-top: 1px solid rgba(255, 255, 255, 0.5);
          & > .pieBox {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            // background: pink;
          }
        }
        .titTop {
          color: red;
        }
      }
      & > div:nth-child(1) {
        flex: 1;
      }
      & > div:nth-child(2) {
        flex: 2;
        // height: 100%;
      }
      &_ {
        &data {
          width: 100%;
          flex: 1;
          display: flex;
          gap: 10px;
          & > div {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            .pedestal {
              width: 50px;
              height: 50px;
              background-image: url("@/assets/images/lsImg/pedestal.png");
              background-size: 100% 100%;
              display: flex;
              justify-content: center;
              span {
                display: block;
                width: 35px;
                height: 35px;
                background-size: 100% 100%;
              }
              .plus {
                background-image: url("@/assets/images/lsImg/plus.svg");
              }
              .home {
                background-image: url("@/assets/images/lsImg/home.svg");
              }
            }
            .text {
              flex: 1;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              color: #fff;
              font-size: 14px;
              p:nth-child(1) {
                font-size: 14px;
              }
              p:nth-child(2) {
                font-size: 17px;
                color: #23fffc;
                span {
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 14px;
                }
              }
            }
          }
        }
        &tab {
          width: 100%;
          height: 30px;
          display: flex;
          & > div {
            flex: 1;
            height: 100%;
          }
          .tab {
            display: flex;
            & > div {
              flex: 1;
              height: 100%;
              display: flex;
              align-items: center;
              gap: 5px;
              span {
                display: block;
                width: 10px;
                height: 10px;
                background-image: url("@/assets/images/lsImg/greenBox.svg");
                background-size: 100% 100%;
              }
              p {
                flex: 1;
                font-size: 10px;
              }
            }
            .green {
              color: #37d6af;
              span {
                background-image: url("@/assets/images/lsImg/greenBox.svg");
              }
            }
            .blue {
              color: #23b9ff;
              span {
                background-image: url("@/assets/images/lsImg/blueBox.svg");
              }
            }
          }
          .unit {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 20px;
          }
        }
        &chart {
          height: 150px;
          width: 180px;
          // background: pink;
        }
      }
    }
    //预算分析
    &analyse {
      height: 100%;
    }
    //预算统计（金额，企业，部门）
    &statistics {
      height: 100%;
    }
    //类型占比
    &ratio {
      display: flex;
      flex-direction: column;
      & > div {
        width: 100%;
      }
      &_ {
        &data {
          flex: 1;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          padding-bottom: 10px;
          & > div {
            width: 40%;
            height: 30%;
            display: flex;
            gap: 10px;
            align-items: center;
            .circle {
              width: 45px;
              height: 45px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-image: url("@/assets/images/lsImg/circle.png");
              background-size: 100% 100%;
              span {
                display: block;
                width: 50%;
                height: 50%;
                background-image: url("@/assets/images/lsImg/icon1.svg");
                background-size: 100% 100%;
              }
            }
            .text {
              & > p:nth-child(1) {
                font-size: 18px;
                color: #23fffc;
                font-weight: bold;
              }
              & > p:nth-child(2) {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
        &chart {
          flex: 1;
        }
      }
    }
    //预算费用
    &cost {
      height: 100%;
    }
  }
}
.contentBox {
  width: 100%;
  height: 100%;
}
