<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cmkj.fixed.mapper.TableLowvalueVersionMapper">

    <resultMap type="TableLowvalueVersion" id="TableLowvalueVersionResult">
        <result property="id"    column="id"    />
        <result property="versionId"    column="version_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="reportingType"    column="reporting_type"    />
        <result property="name"    column="name"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="budget"    column="budget"    />
        <result property="description"    column="description"    />
        <result property="auditBudget"    column="audit_budget"    />
        <result property="auditDescription"    column="audit_description"    />
        <result property="lastBudget"    column="last_budget"    />
        <result property="lastAccumulatedExpenses"    column="last_accumulated_expenses"    />
        <result property="adjustmentBudget"    column="adjustment_budget"    />
        <result property="adjustmentDescription"    column="adjustment_description"    />
        <result property="projectedCosts"    column="projected_costs"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTableLowvalueVersionVo">
        select id, version_id, task_id, dept_id, reporting_type, name, quantity, price, budget, description, audit_budget, audit_description, last_budget, last_accumulated_expenses, adjustment_budget, adjustment_description, projected_costs, create_by, create_time from t_reporting_table_lowvalue_version
    </sql>

    <select id="selectTableLowvalueVersionList" parameterType="TableLowvalueVersion" resultMap="TableLowvalueVersionResult">
        <include refid="selectTableLowvalueVersionVo"/>
        <where>
            <if test="versionId != null "> and version_id = #{versionId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="reportingType != null "> and reporting_type = #{reportingType}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="budget != null "> and budget = #{budget}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="auditBudget != null "> and audit_budget = #{auditBudget}</if>
            <if test="auditDescription != null  and auditDescription != ''"> and audit_description = #{auditDescription}</if>
            <if test="lastBudget != null "> and last_budget = #{lastBudget}</if>
            <if test="lastAccumulatedExpenses != null "> and last_accumulated_expenses = #{lastAccumulatedExpenses}</if>
            <if test="adjustmentBudget != null "> and adjustment_budget = #{adjustmentBudget}</if>
            <if test="adjustmentDescription != null  and adjustmentDescription != ''"> and adjustment_description = #{adjustmentDescription}</if>
            <if test="projectedCosts != null "> and projected_costs = #{projectedCosts}</if>
        </where>
    </select>

    <select id="selectTableLowvalueVersionById" parameterType="Long" resultMap="TableLowvalueVersionResult">
            <include refid="selectTableLowvalueVersionVo"/>
            where id = #{id}
    </select>

    <insert id="insertTableLowvalueVersion" parameterType="TableLowvalueVersion" useGeneratedKeys="true" keyProperty="id">
        insert into t_reporting_table_lowvalue_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="versionId != null">version_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="reportingType != null">reporting_type,</if>
            <if test="name != null">name,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="budget != null">budget,</if>
            <if test="description != null">description,</if>
            <if test="auditBudget != null">audit_budget,</if>
            <if test="auditDescription != null">audit_description,</if>
            <if test="lastBudget != null">last_budget,</if>
            <if test="lastAccumulatedExpenses != null">last_accumulated_expenses,</if>
            <if test="adjustmentBudget != null">adjustment_budget,</if>
            <if test="adjustmentDescription != null">adjustment_description,</if>
            <if test="projectedCosts != null">projected_costs,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="versionId != null">#{versionId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="reportingType != null">#{reportingType},</if>
            <if test="name != null">#{name},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="budget != null">#{budget},</if>
            <if test="description != null">#{description},</if>
            <if test="auditBudget != null">#{auditBudget},</if>
            <if test="auditDescription != null">#{auditDescription},</if>
            <if test="lastBudget != null">#{lastBudget},</if>
            <if test="lastAccumulatedExpenses != null">#{lastAccumulatedExpenses},</if>
            <if test="adjustmentBudget != null">#{adjustmentBudget},</if>
            <if test="adjustmentDescription != null">#{adjustmentDescription},</if>
            <if test="projectedCosts != null">#{projectedCosts},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTableLowvalueVersion" parameterType="TableLowvalueVersion">
        update t_reporting_table_lowvalue_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="versionId != null">version_id = #{versionId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="reportingType != null">reporting_type = #{reportingType},</if>
            <if test="name != null">name = #{name},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="budget != null">budget = #{budget},</if>
            <if test="description != null">description = #{description},</if>
            <if test="auditBudget != null">audit_budget = #{auditBudget},</if>
            <if test="auditDescription != null">audit_description = #{auditDescription},</if>
            <if test="lastBudget != null">last_budget = #{lastBudget},</if>
            <if test="lastAccumulatedExpenses != null">last_accumulated_expenses = #{lastAccumulatedExpenses},</if>
            <if test="adjustmentBudget != null">adjustment_budget = #{adjustmentBudget},</if>
            <if test="adjustmentDescription != null">adjustment_description = #{adjustmentDescription},</if>
            <if test="projectedCosts != null">projected_costs = #{projectedCosts},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableLowvalueVersionById">
        update t_reporting_table_lowvalue_version
        set del_flag = '2' , update_by = #{userName}, update_time = SYSDATE()
        where id = #{id}
    </delete>

    <delete id="deleteTableLowvalueVersionByIds">
        update t_reporting_table_lowvalue_version
        set del_flag = '2' , update_by = #{userName}, update_time = SYSDATE()
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>