<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cmkj.fixed.mapper.TablePipelineVersionMapper">

    <resultMap type="TablePipelineVersion" id="TablePipelineVersionResult">
        <result property="id"    column="id"    />
        <result property="versionId"    column="version_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="projectStatus"    column="project_status"    />
        <result property="projectType"    column="project_type"    />
        <result property="name"    column="name"    />
        <result property="situation"    column="situation"    />
        <result property="contentProgress"    column="content_progress"    />
        <result property="analysis"    column="analysis"    />
        <result property="length"    column="length"    />
        <result property="investment"    column="investment"    />
        <result property="completedLength"    column="completed_length"    />
        <result property="completedSettlement"    column="completed_settlement"    />
        <result property="actualLength"    column="actual_length"    />
        <result property="actualSettlement"    column="actual_settlement"    />
        <result property="details"    column="details"    />
        <result property="expectedLength"    column="expected_length"    />
        <result property="expectedSettlement"    column="expected_settlement"    />
        <result property="auditLength"    column="audit_length"    />
        <result property="auditSettlement"    column="audit_settlement"    />
        <result property="auditDescription"    column="audit_description"    />
        <result property="year1Length"    column="year1_length"    />
        <result property="year1Settlement"    column="year1_settlement"    />
        <result property="year2Length"    column="year2_length"    />
        <result property="year2Settlement"    column="year2_settlement"    />
        <result property="year3Length"    column="year3_length"    />
        <result property="year3Settlement"    column="year3_settlement"    />
        <result property="year4Length"    column="year4_length"    />
        <result property="year4Settlement"    column="year4_settlement"    />
        <result property="year5Length"    column="year5_length"    />
        <result property="year5Settlement"    column="year5_settlement"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTablePipelineVersionVo">
        select id, version_id, task_id, dept_id, project_status,project_type, name, situation, content_progress, analysis, length, investment, completed_length, completed_settlement, actual_length, actual_settlement, details, expected_length, expected_settlement, audit_length, audit_settlement, audit_description, year1_length, year1_settlement, year2_length, year2_settlement, year3_length, year3_settlement, year4_length, year4_settlement,year5_length,year4_settlement, create_by, create_time from t_reporting_table_pipeline_version
    </sql>

    <select id="selectTablePipelineVersionList" parameterType="TablePipelineVersion" resultMap="TablePipelineVersionResult">
        <include refid="selectTablePipelineVersionVo"/>
        <where>
            <if test="versionId != null "> and version_id = #{versionId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="projectStatus != null "> and project_status = #{projectStatus}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="situation != null  and situation != ''"> and situation = #{situation}</if>
            <if test="contentProgress != null  and contentProgress != ''"> and content_progress = #{contentProgress}</if>
            <if test="analysis != null  and analysis != ''"> and analysis = #{analysis}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="investment != null "> and investment = #{investment}</if>
            <if test="completedLength != null "> and completed_length = #{completedLength}</if>
            <if test="completedSettlement != null "> and completed_settlement = #{completedSettlement}</if>
            <if test="actualLength != null "> and actual_length = #{actualLength}</if>
            <if test="actualSettlement != null "> and actual_settlement = #{actualSettlement}</if>
            <if test="details != null  and details != ''"> and details = #{details}</if>
            <if test="expectedLength != null "> and expected_length = #{expectedLength}</if>
            <if test="expectedSettlement != null "> and expected_settlement = #{expectedSettlement}</if>
            <if test="auditLength != null "> and audit_length = #{auditLength}</if>
            <if test="auditSettlement != null "> and audit_settlement = #{auditSettlement}</if>
            <if test="auditDescription != null  and auditDescription != ''"> and audit_description = #{auditDescription}</if>
        </where>
    </select>

    <select id="selectTablePipelineVersionById" parameterType="Long" resultMap="TablePipelineVersionResult">
            <include refid="selectTablePipelineVersionVo"/>
            where id = #{id}
    </select>

    <insert id="insertTablePipelineVersion" parameterType="TablePipelineVersion" useGeneratedKeys="true" keyProperty="id">
        insert into t_reporting_table_pipeline_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="versionId != null">version_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="projectStatus != null">project_status,</if>
            <if test="projectType != null">project_type,</if>
            <if test="name != null">name,</if>
            <if test="situation != null">situation,</if>
            <if test="contentProgress != null">content_progress,</if>
            <if test="analysis != null">analysis,</if>
            <if test="length != null">length,</if>
            <if test="investment != null">investment,</if>
            <if test="completedLength != null">completed_length,</if>
            <if test="completedSettlement != null">completed_settlement,</if>
            <if test="actualLength != null">actual_length,</if>
            <if test="actualSettlement != null">actual_settlement,</if>
            <if test="details != null">details,</if>
            <if test="expectedLength != null">expected_length,</if>
            <if test="expectedSettlement != null">expected_settlement,</if>
            <if test="auditLength != null">audit_length,</if>
            <if test="auditSettlement != null">audit_settlement,</if>
            <if test="auditDescription != null">audit_description,</if>
            <if test="year1Length != null">year1_length,</if>
            <if test="year1Settlement != null">year1_settlement,</if>
            <if test="year2Length != null">year2_length,</if>
            <if test="year2Settlement != null">year2_settlement,</if>
            <if test="year3Length != null">year3_length,</if>
            <if test="year3Settlement != null">year3_settlement,</if>
            <if test="year4Length != null">year4_length,</if>
            <if test="year4Settlement != null">year4_settlement,</if>
            <if test="year5Length != null">year5_length,</if>
            <if test="year5Settlement != null">year5_settlement,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="versionId != null">#{versionId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="projectStatus != null">#{projectStatus},</if>
            <if test="projectType != null">#{projectType},</if>
            <if test="name != null">#{name},</if>
            <if test="situation != null">#{situation},</if>
            <if test="contentProgress != null">#{contentProgress},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="length != null">#{length},</if>
            <if test="investment != null">#{investment},</if>
            <if test="completedLength != null">#{completedLength},</if>
            <if test="completedSettlement != null">#{completedSettlement},</if>
            <if test="actualLength != null">#{actualLength},</if>
            <if test="actualSettlement != null">#{actualSettlement},</if>
            <if test="details != null">#{details},</if>
            <if test="expectedLength != null">#{expectedLength},</if>
            <if test="expectedSettlement != null">#{expectedSettlement},</if>
            <if test="auditLength != null">#{auditLength},</if>
            <if test="auditSettlement != null">#{auditSettlement},</if>
            <if test="auditDescription != null">#{auditDescription},</if>
            <if test="year1Length != null">#{year1Length},</if>
            <if test="year1Settlement != null">#{year1Settlement},</if>
            <if test="year2Length != null">#{year2Length},</if>
            <if test="year2Settlement != null">#{year2Settlement},</if>
            <if test="year3Length != null">#{year3Length},</if>
            <if test="year3Settlement != null">#{year3Settlement},</if>
            <if test="year4Length != null">#{year4Length},</if>
            <if test="year4Settlement != null">#{year4Settlement},</if>
            <if test="year5Length != null">#{year5Length},</if>
            <if test="year5Settlement != null">#{year5Settlement},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTablePipelineVersion" parameterType="TablePipelineVersion">
        update t_reporting_table_pipeline_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="versionId != null">version_id = #{versionId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="projectStatus != null">project_status = #{projectStatus},</if>
            <if test="projectType != null">project_type = #{projectType},</if>
            <if test="name != null">name = #{name},</if>
            <if test="situation != null">situation = #{situation},</if>
            <if test="contentProgress != null">content_progress = #{contentProgress},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="length != null">length = #{length},</if>
            <if test="investment != null">investment = #{investment},</if>
            <if test="completedLength != null">completed_length = #{completedLength},</if>
            <if test="completedSettlement != null">completed_settlement = #{completedSettlement},</if>
            <if test="actualLength != null">actual_length = #{actualLength},</if>
            <if test="actualSettlement != null">actual_settlement = #{actualSettlement},</if>
            <if test="details != null">details = #{details},</if>
            <if test="expectedLength != null">expected_length = #{expectedLength},</if>
            <if test="expectedSettlement != null">expected_settlement = #{expectedSettlement},</if>
            <if test="auditLength != null">audit_length = #{auditLength},</if>
            <if test="auditSettlement != null">audit_settlement = #{auditSettlement},</if>
            <if test="auditDescription != null">audit_description = #{auditDescription},</if>
            <if test="year1Length != null">year1_length = #{year1Length},</if>
            <if test="year1Settlement != null">year1_settlement = #{year1Settlement},</if>
            <if test="year2Length != null">year2_length = #{year2Length},</if>
            <if test="year2Settlement != null">year2_settlement = #{year2Settlement},</if>
            <if test="year3Length != null">year3_length = #{year3Length},</if>
            <if test="year3Settlement != null">year3_settlement = #{year3Settlement},</if>
            <if test="year4Length != null">year4_length = #{year4Length},</if>
            <if test="year4Settlement != null">year4_settlement = #{year4Settlement},</if>
            <if test="year5Length != null">year5_length = #{year5Length},</if>
            <if test="year5Settlement != null">year5_settlement = #{year5Settlement},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTablePipelineVersionById">
        update t_reporting_table_pipeline_version
        set del_flag = '2' , update_by = #{userName}, update_time = SYSDATE()
        where id = #{id}
    </delete>

    <delete id="deleteTablePipelineVersionByIds">
        update t_reporting_table_pipeline_version
        set del_flag = '2' , update_by = #{userName}, update_time = SYSDATE()
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>