// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse
  > div
  > .el-submenu
  > .el-submenu__title
  .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link {
  color: var(--el-color-primary) !important;
}

//部分公共组件风格
.headBtn {
  //按钮
  .el-button {
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(7, 213, 192, 1);
    color: rgba(7, 213, 192, 1);
    height: 25px;
    &:hover {
      background: rgba(7, 213, 192, 0.2);
      color: rgba(7, 213, 192, 1);
    }
  }
  //选择框
  .el-select {
    .el-select__wrapper {
      min-height: 23px;
      line-height: 25px;
      padding: 0 5px;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 1px rgba(7, 213, 192, 1) inset;
      border-radius: 23px;
      .el-select__placeholder {
        color: rgba(7, 213, 192, 1);
        font-size: 12px;
      }
    }
    .el-icon svg {
      color: rgba(7, 213, 192, 1);
    }
  }
}
.center {
  .main {
    & > div:hover {
      .el-statistic {
        .el-statistic__content {
          .el-statistic__number {
            color: #ffda30 !important;
          }
        }
      }
    }
  }
}

//大屏子页面表格样式
.list {
  .el-table {
    background: rgba(0, 0, 0, 0);
  }
  .el-table tr {
    background: rgba(0, 0, 0, 0);
  }
  .el-table__body tr:hover > td {
    background-color: rgba(8, 150, 233, 0.1) !important;
  }
  .el-table .el-table__header-wrapper th,
  .el-table .el-table__fixed-header-wrapper th {
    // position: absolute;
    // top: 0;
    background-color: rgba(8, 150, 233, 0.4) !important;
    color: #fff;
    font-size: 12px;
  }
  .el-table td.el-table__cell,
  .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid rgba(8, 150, 233, 0.2);
  }
  .el-table .cell {
    color: #fff;
    font-size: 12px;
  }
  .el-table--fit .el-table__inner-wrapper:before {
    width: 0;
  }
  .el-table--default .el-table__cell {
    padding: 0;
  }
}

//大屏选择器下拉框样式
.large-select {
  background: rgba(27, 131, 134, 0.6) !important;
  border-color: aqua !important;
  .el-popper__arrow::before {
    border-top: 1px solid aqua !important; // 箭头按钮边框
    background-color: aqua !important; // 箭头按钮背景色
  }
  .el-select-dropdown {
    .is-hovering {
      background-color: rgba(95, 255, 247, 0.4); // 下拉hover背景
    }
  }
  .el-select-dropdown__item.is-disabled {
    color: #868686 !important; // 禁用
  }
  .el-select-dropdown__item.is-selected {
    color: #fff !important; // 选中
    font-weight: bold;
  }
  .el-select-dropdown__item {
    color: #fff !important; // 可选
  }

  // .el-select-dropdown__list {
  //   background-color: #244461;
  // } // 下拉列所有背景
}
