.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.cell .el-tag {
  margin-right: 0px;
}

.small-padding .cell {
  padding-left: 5px;
  padding-right: 5px;
}

.fixed-width .el-button--mini {
  padding: 7px 10px;
  width: 60px;
}

.status-col .cell {
  padding: 0 10px;
  text-align: center;
}

.status-col .cell .el-tag {
  margin-right: 0px;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse
> div
> .el-submenu
> .el-submenu__title
.el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link {
  color: var(--el-color-primary) !important;
}

.headBtn .el-button {
  font-size: 12px;
  background: transparent;
  border-color: #07d5c0;
  color: #07d5c0;
  height: 25px;
}

.headBtn .el-button:hover {
  background: rgba(7, 213, 192, 0.2);
  color: #07d5c0;
}

.headBtn .el-select .el-select__wrapper {
  min-height: 23px;
  line-height: 25px;
  padding: 0 5px;
  background: transparent;
  box-shadow: 0 0 0 1px #07d5c0 inset;
  border-radius: 23px;
}

.headBtn .el-select .el-select__wrapper .el-select__placeholder {
  color: #07d5c0;
  font-size: 12px;
}

.headBtn .el-select .el-icon svg {
  color: #07d5c0;
}

.center .main > div:hover .el-statistic .el-statistic__content .el-statistic__number {
  color: #ffda30 !important;
}

.list .el-table {
  background: transparent;
}

.list .el-table tr {
  background: transparent;
}

.list .el-table__body tr:hover > td {
  background-color: rgba(8, 150, 233, 0.1) !important;
}

.list .el-table .el-table__header-wrapper th,
.list .el-table .el-table__fixed-header-wrapper th {
  background-color: rgba(8, 150, 233, 0.4) !important;
  color: #fff;
  font-size: 12px;
}

.list .el-table td.el-table__cell,
.list .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid rgba(8, 150, 233, 0.2);
}

.list .el-table .cell {
  color: #fff;
  font-size: 12px;
}

.list .el-table--fit .el-table__inner-wrapper:before {
  width: 0;
}

.list .el-table--default .el-table__cell {
  padding: 0;
}

.large-select {
  background: rgba(27, 131, 134, 0.6) !important;
  border-color: aqua !important;
}

.large-select .el-popper__arrow::before {
  border-top: 1px solid aqua !important;
  background-color: aqua !important;
}

.large-select .el-select-dropdown .is-hovering {
  background-color: rgba(95, 255, 247, 0.4);
}

.large-select .el-select-dropdown__item.is-disabled {
  color: #868686 !important;
}

.large-select .el-select-dropdown__item.is-selected {
  color: #fff !important;
  font-weight: bold;
}

.large-select .el-select-dropdown__item {
  color: #fff !important;
}
